<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coconut1-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapons.pvr.ccz</string>
            <key>size</key>
            <string>{49,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af0bc9945e05b6891a39ab2f7a427a44:a853bc40153ffea1097be59a90a34799:d64862ca55221a405b585c1753c95788$</string>
            <key>textureFileName</key>
            <string>weapons.pvr.ccz</string>
        </dict>
    </dict>
</plist>
