<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clothe-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1549},{151,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,79}}</string>
                <key>sourceSize</key>
                <string>{151,81}</string>
            </dict>
            <key>clothe-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1699},{150,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,82}</string>
            </dict>
            <key>clothe-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>clothe-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{151,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,79}}</string>
                <key>sourceSize</key>
                <string>{151,79}</string>
            </dict>
            <key>clothe-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1458},{151,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,89}}</string>
                <key>sourceSize</key>
                <string>{151,89}</string>
            </dict>
            <key>clothe-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1630},{150,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,91}}</string>
                <key>sourceSize</key>
                <string>{150,91}</string>
            </dict>
            <key>clothe-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1781},{148,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,96}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>clothe-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,498},{147,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,98}}</string>
                <key>sourceSize</key>
                <string>{147,100}</string>
            </dict>
            <key>clothe-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1723},{148,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,99}}</string>
                <key>sourceSize</key>
                <string>{148,101}</string>
            </dict>
            <key>elephant-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{228,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,146}}</string>
                <key>sourceSize</key>
                <string>{228,146}</string>
            </dict>
            <key>elephant-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{232,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,147}}</string>
                <key>sourceSize</key>
                <string>{232,147}</string>
            </dict>
            <key>elephant-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{238,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,148}}</string>
                <key>sourceSize</key>
                <string>{238,148}</string>
            </dict>
            <key>elephant-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,150}}</string>
                <key>sourceSize</key>
                <string>{238,150}</string>
            </dict>
            <key>elephant-1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{226,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,150}}</string>
                <key>sourceSize</key>
                <string>{226,150}</string>
            </dict>
            <key>elephant-1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,699},{226,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,148}}</string>
                <key>sourceSize</key>
                <string>{226,148}</string>
            </dict>
            <key>elephant-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>elephant-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,927},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>elephant-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>elephant-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1104},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>elephant-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1107},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>elephant-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1281},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>fox-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1835},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>fox-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,439},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,57}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
            <key>fox-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1824},{108,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,57}}</string>
                <key>sourceSize</key>
                <string>{108,57}</string>
            </dict>
            <key>fox-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1458},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>fox-1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1893},{100,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,57}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>fox-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1883},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>fox-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1964},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>fox-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1964},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>fox-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1753},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>fox-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1893},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>fox-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1672},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>tiger-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,368},{140,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,69}}</string>
                <key>sourceSize</key>
                <string>{140,69}</string>
            </dict>
            <key>tiger-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{166,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,77}}</string>
                <key>sourceSize</key>
                <string>{166,77}</string>
            </dict>
            <key>tiger-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1363},{158,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,85}}</string>
                <key>sourceSize</key>
                <string>{158,85}</string>
            </dict>
            <key>tiger-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{158,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,84}}</string>
                <key>sourceSize</key>
                <string>{158,84}</string>
            </dict>
            <key>tiger-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,598},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>tiger-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,261},{112,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,105}}</string>
                <key>sourceSize</key>
                <string>{112,105}</string>
            </dict>
            <key>tiger-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{126,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,100}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>tiger-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,104},{122,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,87}}</string>
                <key>sourceSize</key>
                <string>{122,87}</string>
            </dict>
            <key>tiger-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1564},{106,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,71}}</string>
                <key>sourceSize</key>
                <string>{106,71}</string>
            </dict>
            <key>tiger-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1879},{89,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>tiger-2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,193},{116,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,66}}</string>
                <key>sourceSize</key>
                <string>{116,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal.pvr.ccz</string>
            <key>size</key>
            <string>{381,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b584a3ad8ac3a5b68761468cef434f26:2dd109f88f6832bc764ac1b36c675ac6:1a7d141dd83ab6af2e98651a16303730$</string>
            <key>textureFileName</key>
            <string>animal.pvr.ccz</string>
        </dict>
    </dict>
</plist>
