<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clothe-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,236},{151,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,79}}</string>
                <key>sourceSize</key>
                <string>{151,81}</string>
            </dict>
            <key>clothe-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,657},{150,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,82}</string>
            </dict>
            <key>clothe-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,655},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>clothe-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1242},{151,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,79}}</string>
                <key>sourceSize</key>
                <string>{151,79}</string>
            </dict>
            <key>clothe-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1402},{151,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,89}}</string>
                <key>sourceSize</key>
                <string>{151,89}</string>
            </dict>
            <key>clothe-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1555},{150,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,91}}</string>
                <key>sourceSize</key>
                <string>{150,91}</string>
            </dict>
            <key>clothe-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1707},{148,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,96}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>clothe-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,418},{147,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,98}}</string>
                <key>sourceSize</key>
                <string>{147,100}</string>
            </dict>
            <key>clothe-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,317},{148,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,99}}</string>
                <key>sourceSize</key>
                <string>{148,101}</string>
            </dict>
            <key>clothe-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1528},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>clothe-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1385},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>clothe-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1528},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>clothe-3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1385},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>clothe-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1395},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>clothe-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1654},{126,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,80}}</string>
                <key>sourceSize</key>
                <string>{126,80}</string>
            </dict>
            <key>clothe-4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1857},{124,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,77}}</string>
                <key>sourceSize</key>
                <string>{124,77}</string>
            </dict>
            <key>clothe-4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,916},{124,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,76}}</string>
                <key>sourceSize</key>
                <string>{124,76}</string>
            </dict>
            <key>clothe-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1528},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>clothe-5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1385},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>elephant-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{228,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,146}}</string>
                <key>sourceSize</key>
                <string>{228,146}</string>
            </dict>
            <key>elephant-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{232,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,147}}</string>
                <key>sourceSize</key>
                <string>{232,147}</string>
            </dict>
            <key>elephant-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{238,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,148}}</string>
                <key>sourceSize</key>
                <string>{238,148}</string>
            </dict>
            <key>elephant-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,150}}</string>
                <key>sourceSize</key>
                <string>{238,150}</string>
            </dict>
            <key>elephant-1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{226,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,150}}</string>
                <key>sourceSize</key>
                <string>{226,150}</string>
            </dict>
            <key>elephant-1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{226,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,148}}</string>
                <key>sourceSize</key>
                <string>{226,148}</string>
            </dict>
            <key>elephant-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>elephant-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1095},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>elephant-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>elephant-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1457},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>elephant-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>elephant-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1819},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,175}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>elephant-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,456},{96,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,183}}</string>
                <key>sourceSize</key>
                <string>{96,183}</string>
            </dict>
            <key>elephant-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,641},{90,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,183}}</string>
                <key>sourceSize</key>
                <string>{90,183}</string>
            </dict>
            <key>elephant-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,456},{96,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,183}}</string>
                <key>sourceSize</key>
                <string>{96,183}</string>
            </dict>
            <key>elephant-3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,641},{90,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,183}}</string>
                <key>sourceSize</key>
                <string>{90,183}</string>
            </dict>
            <key>elephant-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{226,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,148}}</string>
                <key>sourceSize</key>
                <string>{226,148}</string>
            </dict>
            <key>elephant-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{226,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,150}}</string>
                <key>sourceSize</key>
                <string>{226,150}</string>
            </dict>
            <key>elephant-4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,150}}</string>
                <key>sourceSize</key>
                <string>{238,150}</string>
            </dict>
            <key>elephant-4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{238,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,148}}</string>
                <key>sourceSize</key>
                <string>{238,148}</string>
            </dict>
            <key>elephant-4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{232,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,147}}</string>
                <key>sourceSize</key>
                <string>{232,147}</string>
            </dict>
            <key>elephant-4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{228,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,146}}</string>
                <key>sourceSize</key>
                <string>{228,146}</string>
            </dict>
            <key>elephant-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,456},{96,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,183}}</string>
                <key>sourceSize</key>
                <string>{96,183}</string>
            </dict>
            <key>elephant-5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,641},{90,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,183}}</string>
                <key>sourceSize</key>
                <string>{90,183}</string>
            </dict>
            <key>fox-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1082},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>fox-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,108},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,57}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
            <key>fox-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1082},{108,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,57}}</string>
                <key>sourceSize</key>
                <string>{108,57}</string>
            </dict>
            <key>fox-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>fox-1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,808},{100,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,57}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>fox-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1690},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>fox-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1769},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>fox-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1782},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>fox-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1614},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>fox-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1844},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>fox-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1923},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>fox-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1277},{24,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,84}}</string>
                <key>sourceSize</key>
                <string>{24,84}</string>
            </dict>
            <key>fox-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,657},{24,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,87}}</string>
                <key>sourceSize</key>
                <string>{24,87}</string>
            </dict>
            <key>fox-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1277},{24,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,84}}</string>
                <key>sourceSize</key>
                <string>{24,84}</string>
            </dict>
            <key>fox-3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,657},{24,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,87}}</string>
                <key>sourceSize</key>
                <string>{24,87}</string>
            </dict>
            <key>fox-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1985},{72,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,59}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>fox-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,916},{76,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,53}}</string>
                <key>sourceSize</key>
                <string>{76,53}</string>
            </dict>
            <key>fox-4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1474},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>fox-4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,220},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>fox-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1277},{24,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,84}}</string>
                <key>sourceSize</key>
                <string>{24,84}</string>
            </dict>
            <key>fox-5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,657},{24,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,87}}</string>
                <key>sourceSize</key>
                <string>{24,87}</string>
            </dict>
            <key>tiger-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,317},{140,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,69}}</string>
                <key>sourceSize</key>
                <string>{140,69}</string>
            </dict>
            <key>tiger-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,914},{166,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,77}}</string>
                <key>sourceSize</key>
                <string>{166,77}</string>
            </dict>
            <key>tiger-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1082},{158,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,85}}</string>
                <key>sourceSize</key>
                <string>{158,85}</string>
            </dict>
            <key>tiger-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1242},{158,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,84}}</string>
                <key>sourceSize</key>
                <string>{158,84}</string>
            </dict>
            <key>tiger-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,459},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>tiger-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,809},{112,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,105}}</string>
                <key>sourceSize</key>
                <string>{112,105}</string>
            </dict>
            <key>tiger-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1857},{126,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,100}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>tiger-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1530},{122,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,87}}</string>
                <key>sourceSize</key>
                <string>{122,87}</string>
            </dict>
            <key>tiger-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1277},{106,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,71}}</string>
                <key>sourceSize</key>
                <string>{106,71}</string>
            </dict>
            <key>tiger-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1192},{89,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>tiger-2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1082},{116,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,66}}</string>
                <key>sourceSize</key>
                <string>{116,66}</string>
            </dict>
            <key>tiger-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2000},{46,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,121}}</string>
                <key>sourceSize</key>
                <string>{46,121}</string>
            </dict>
            <key>tiger-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2000},{46,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,121}}</string>
                <key>sourceSize</key>
                <string>{46,121}</string>
            </dict>
            <key>tiger-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2000},{46,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,121}}</string>
                <key>sourceSize</key>
                <string>{46,121}</string>
            </dict>
            <key>tiger-3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2000},{46,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,121}}</string>
                <key>sourceSize</key>
                <string>{46,121}</string>
            </dict>
            <key>tiger-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,826},{97,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,86}}</string>
                <key>sourceSize</key>
                <string>{97,86}</string>
            </dict>
            <key>tiger-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,994},{89,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,86}}</string>
                <key>sourceSize</key>
                <string>{89,86}</string>
            </dict>
            <key>tiger-4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,994},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>tiger-4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,569},{91,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,86}}</string>
                <key>sourceSize</key>
                <string>{91,86}</string>
            </dict>
            <key>tiger-4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,567},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>tiger-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2000},{46,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,121}}</string>
                <key>sourceSize</key>
                <string>{46,121}</string>
            </dict>
            <key>tiger-5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2000},{46,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,121}}</string>
                <key>sourceSize</key>
                <string>{46,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal.pvr.ccz</string>
            <key>size</key>
            <string>{451,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5af33d43ed98537711965ec04ef00875:3e82e620291dab2ac6e8bdb789a70380:1a7d141dd83ab6af2e98651a16303730$</string>
            <key>textureFileName</key>
            <string>animal.pvr.ccz</string>
        </dict>
    </dict>
</plist>
