<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lemur-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1022},{209,156}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,156}}</string>
                <key>sourceSize</key>
                <string>{209,178}</string>
            </dict>
            <key>lemur-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{183,164}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{183,164}}</string>
                <key>sourceSize</key>
                <string>{209,178}</string>
            </dict>
            <key>lemur-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1022},{209,156}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,156}}</string>
                <key>sourceSize</key>
                <string>{209,178}</string>
            </dict>
            <key>lemur-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{183,164}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{183,164}}</string>
                <key>sourceSize</key>
                <string>{209,178}</string>
            </dict>
            <key>role.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1018,1930}}</string>
                <key>offset</key>
                <string>{-2,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{1018,1930}}</string>
                <key>sourceSize</key>
                <string>{1024,2048}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animals.pvr.ccz</string>
            <key>size</key>
            <string>{1934,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5a284ed001a796d3eeb3b60e13b4eda:7f70f49ea09bc5a76785563542385d11:d4f6042cfbf024d64b92d42a4305cac2$</string>
            <key>textureFileName</key>
            <string>animals.pvr.ccz</string>
        </dict>
    </dict>
</plist>
