<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clothe-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{151,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,79}}</string>
                <key>sourceSize</key>
                <string>{151,81}</string>
            </dict>
            <key>clothe-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,83},{150,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,82}</string>
            </dict>
            <key>clothe-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>clothe-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{151,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,79}}</string>
                <key>sourceSize</key>
                <string>{151,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clothe.pvr.ccz</string>
            <key>size</key>
            <string>{237,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc0a2883c9a69385205160a45d8ca484:ccf40e0ab845fe7d0422204878286529:4b4be40c78c6ece46c10bccd3dc4e609$</string>
            <key>textureFileName</key>
            <string>clothe.pvr.ccz</string>
        </dict>
    </dict>
</plist>
