<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{109,97}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{109,97}}</string>
                <key>sourceSize</key>
                <string>{131,103}</string>
            </dict>
            <key>dog-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{113,101}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{113,101}}</string>
                <key>sourceSize</key>
                <string>{131,103}</string>
            </dict>
            <key>dog-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,101}}</string>
                <key>sourceSize</key>
                <string>{131,103}</string>
            </dict>
            <key>dog-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{111,91}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{111,91}}</string>
                <key>sourceSize</key>
                <string>{131,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog.pvr.ccz</string>
            <key>size</key>
            <string>{474,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1490c27c5981b04d9ebbc48095976ba9:62be3a53e6bee9ccd3315f930845c04f:2e584480056f1b26cd92782634981449$</string>
            <key>textureFileName</key>
            <string>dog.pvr.ccz</string>
        </dict>
    </dict>
</plist>
