<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elephant-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{228,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,146}}</string>
                <key>sourceSize</key>
                <string>{228,146}</string>
            </dict>
            <key>elephant-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{232,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,147}}</string>
                <key>sourceSize</key>
                <string>{232,147}</string>
            </dict>
            <key>elephant-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{238,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,148}}</string>
                <key>sourceSize</key>
                <string>{238,148}</string>
            </dict>
            <key>elephant-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,150}}</string>
                <key>sourceSize</key>
                <string>{238,150}</string>
            </dict>
            <key>elephant-1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{226,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,150}}</string>
                <key>sourceSize</key>
                <string>{226,150}</string>
            </dict>
            <key>elephant-1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{226,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,148}}</string>
                <key>sourceSize</key>
                <string>{226,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elephant.pvr.ccz</string>
            <key>size</key>
            <string>{242,903}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6216a7b533ece0b596e30854a76c018:081c2e71edb9bd6bf66c0ef95397fca0:469d005b3b3a0d208a52fc799e436412$</string>
            <key>textureFileName</key>
            <string>elephant.pvr.ccz</string>
        </dict>
    </dict>
</plist>
