<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,552}}</string>
                <key>sourceSize</key>
                <string>{442,552}</string>
            </dict>
            <key>mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,556},{210,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,118}}</string>
                <key>sourceSize</key>
                <string>{210,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iui.png</string>
            <key>size</key>
            <string>{446,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0f8828e08f1a5fa4eb3ec9a9d3d15f8:578d3fd314fe640b7dc6ee66414e0f91:b10f372061d1457637dba18ab73d7022$</string>
            <key>textureFileName</key>
            <string>iui.png</string>
        </dict>
    </dict>
</plist>
